
<fieldset>
  <div class="clearfix">
    <label for="name">Name</label>
    <div class="input">
      <input id="name" name="name" class="xxlarge" value="{{ category.name }}" />
    </div>
  </div>
  <div class="clearfix">
    <label for="order">Order</label>
    <div class="input">
      <input id="order" name="order" class="xxlarge" value="{{ category.order }}" size="3" />
    </div>
  </div>
  <div class="actions">
    <input type="submit" class="btn primary" value="{{ submit_value }}" />
  </div>
</fieldset>
