{% extends "layout.html" %}
{% block body %}

  {% for entry in entries %}
  
    {% include 'entry/types/%s.html' % (entry.entry_type,) %}
    
  {% else %}
    <em>Unbelievable.  No entries here so far</em>
  {% endfor %}
{% endblock %}

<div class="row" id="bottom-logo-container">
  <div class="span12">
    <div class="pagination pagination-centered">
      <ul>
        <li><a href="#">Prev</a></li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>

{% block sidebar %}
  <h4>Categories</h4>
  <ul>
    <li><a href="{{ url_for('.show') }}">All</li>
    {% for category in categories %}
      <li><a href="{{ url_for('entry.show_by_category', category_id=category.id) }}">{{ category.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}

